<div class="card border-primary" style="height: 300px; margin-bottom: 2%;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label>User Image</label>
          </div>
          <div class="col-md-12">
            <img style="max-width: 100px;" src={{data.avatar_url}} alt="your-image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label>Github User Name</label>
          </div>
          <div class="col-md-12">
            <label style="font-weight: bold;">{{data.login }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
